.scroll-pane {
	-fx-background: rgb(15, 27, 30);
	-fx-background-color: rgb(15, 27, 30);
	-fx-background-insets: 0;
}

.thumb {
	-fx-background-color: rgb(255, 200, 200);
}

.track {
	-fx-background-color: rgb(30, 54, 60);
}

.increment-button, .decrement-button {
	-fx-background-color: rgb(30, 54, 60);
	-fx-border-color: rgb(30, 54, 60);
	-fx-background-insets: 0;
}

.increment-arrow, .decrement-arrow {
	-fx-background-color: rgb(255, 200, 200);
}

.increment-arrow:hover, .decrement-arrow:hover {
	-fx-background-color: rgb(226, 135, 205);
}